.back-to-top {
    position:fixed;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: .5rem;
    z-index: 999;
}
.Desk1{
    display: none;
}
@media only screen and (max-width: 1210px) {
    .back-to-top{
        position: absolute;
    }
}
@media only screen and (max-width: 1000px) {
    .Desk{
        display: none;
    }
    .Desk1
    {
        display: block;
    }
}

:root {
    --star-size: 30px;
    --star-color: #fff;
    --star-background: #fc0;
}
/*Rating*/
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

