.nav{
    display: flex;
}
.nav button{
    display: flex;
    justify-content: right;
}

.input_search{
    height: 45px;

    width: 500px;
}
.btn{
    height: 45px;
    width: 85px;
    margin-left: 5px;
    display: flex;
    justify-content: right;
}
